<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weebshit General</title>

    <link rel="icon" type="image/x-icon" href="assets/logo_white_background.svg">

    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./assets/logo-whitebg.svg">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script defer src="./js/script.js"></script>

    <!-- Slider Library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</head>

<body ng-controller="myController">

    <!-- Header & Navbar -->
    <header>
        <div class="searchbar">
            <a href="#">
                <div class="logo"><img src="./assets/logo.svg" alt="Logo"></div>
                <div class="website-name">Weebshit General</div>
            </a>

            <div class="icons">
                <form action="" class="search-form" ng-submit="preventSubmit($event)">
                    <input type="search" name="" placeholder="search here..." id="search-box" ng-model="searchText"
                        ng-change="searchBook()" ng-blur="clearSearch()" ng-focus="searchBook()">
                    <label for="search-box" class="fas fa-search"></label>
                </form>

                <!-- Autocomplete list -->
                <div id="autocomplete-list" ng-show="searchResults.length > 0">
                    <div ng-repeat="book in searchResults" ng-click="goToBookDetails(book.uniqueID)">
                        <img ng-src="./assets/manga/{{book.image}}" alt="{{book.title}}">
                        <span>{{book.title}} Volume {{book.volume}}</span>
                    </div>
                </div>

                <a href="" class="fas fa-heart"></a>
                <a href="" class="fas fa-shopping-cart"></a>
                <div id="login-btn" class="fas fa-user" ng-click="openLogin()"></div>
            </div>
        </div>

        <div class="navbar">
            <a href="" ng-click="goToSection('arrivals')">New Arrivals</a>
            <a href="" ng-click="goToSection('deals')">Deals</a>
            <a href="" ng-click="goToSection('featured')">Featured</a>
        </div>
    </header>

    <!-- Cart -->
    <section class="cart">
        <div class="top-bar">
            <h3>Shopping Cart</h3>
            <a href="" class="fa-solid fa-chevron-right"></a>
        </div>
        <div class="content">
        </div>
    </section>

    <!-- New Arrivals -->
    <section class="arrivals" id="arrivals">
        <h3>New Arrivals</h3>
        <div class="swiper arrivals-slider row1">
            <div class="swiper-wrapper">
            </div>
        </div>

        <div class="swiper arrivals-slider row2">
            <div class="swiper-wrapper">
            </div>
        </div>
    </section>

    <!-- Deals -->
    <section class="deals" id="deals">
        <div class="swiper books-list">
            <div class="swiper-wrapper">
                <a href="" class="swiper-slide"><img src="./assets/manga/goodbyeEri.jpg" alt=""></a>
                <a href="" class="swiper-slide"><img src="./assets/manga/theHorizon1.jpg" alt=""></a>
                <a href="" class="swiper-slide"><img src="./assets/manga/annarasumanara1.jpg" alt=""></a>
                <a href="" class="swiper-slide"><img src="./assets/manga/stargazingDog2.jpg" alt=""></a>
                <a href="" class="swiper-slide"><img src="./assets/manga/uzumaki3.jpg" alt=""></a>
                <a href="" class="swiper-slide"><img src="./assets/manga/theHorizon2.jpg" alt=""></a>
                <a href="" class="swiper-slide"><img src="./assets/manga/ghost2.jpg" alt=""></a>
            </div>
            <img src="./assets/stand.png" class="stand" alt="">
        </div>

        <div class="content">
            <h3>Discount Up to 69%</h3>
            <p>First off, systemd is not an init system, it has an init system as part of the systemd suite. systemd is
                a project to build a standardised lowlevel userland for Linux.</p>
            <a href="#arrivals" class="btn">shop now</a>
        </div>
    </section>


    <!-- Featured -->
    <section class="featured" id="featured">
        <h3>Featured Mangas</h3>
        <div class="swiper featured-slider">
            <div class="swiper-wrapper"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </section>


    <!-- Icons -->
    <section class="icons-container">
        <div class="icon">
            <i class="fas fa-plane"></i>
            <div class="content">
                <h3>Free Shipping</h3>
                <p>for payments over $100</p>
            </div>
        </div>

        <div class="icon">
            <i class="fas fa-lock"></i>
            <div class="content">
                <h3>secure payment</h3>
                <p>Zero knowledge encryption</p>
            </div>
        </div>

        <div class="icon">
            <i class="fas fa-headset"></i>
            <div class="content">
                <h3>24/7 customer support</h3>
                <p>Call anytime for help</p>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer>
        <div>Created by <i>Ngelag</i></div>
        <div class="tugas">UAS Front-End</div>
    </footer>

</body>

</html>