@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,400;1,600&display=swap');
/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black-bg: rgb(15, 16, 17);
    --gray-bg: rgb(32, 32, 32);
    --light-gray: rgb(153, 153, 153);
    --aqua: rgb(24, 176, 171);
    --dark-aqua: rgb(35, 107, 104);
    --orange: #ff6347;
    --dark-color: #ff4500;
    --black: #444;
    --light-color: #666;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-X: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

/* All Icons */
.fas {
    color: white;
    font-size: 2rem;
    margin-left: 5px;
}

.fas:hover {
    color: var(--aqua);
}

/* Top Header */
header .searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: var(--black-bg);
}

header .searchbar a {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .searchbar .logo {
    padding: 3px;
    background-color: white;
    border-radius: 100%;
    width: 50px;
}

header .searchbar .website-name {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    color: white;
}

header .searchbar #search-box {
    font-size: 1.5rem;
    padding: 5px 17px;
    border-radius: 7px;
    font-weight: 600;
}

header .searchbar .icons {
    display: flex;
    gap: 10px;
}

/* Botttom Header (Navbar) */
header .navbar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    background-color: var(--gray-bg);
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}

header .navbar a {
    padding: 10px 20px;
    color: white;
}

header .navbar a:hover {
    background-color: white;
    color: var(--black-bg);
}

header .navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Home (Hero Page) */
section.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-bg);
}

section.home .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: var(--light-gray);
    font-size: 1.5rem;
}

section.home .content h3 {
    color: white;
    font-size: 4rem;
}

section.home .content .btn {
    background-color: var(--aqua);
    color: white;
    font-weight: 800;
    font-style: italic;
    font-size: 1.7rem;
}

section.home .content .btn:hover {
    background-color: var(--dark-aqua);
}

/* Scrollable books in Home */
section.home .books-list {
    flex: 1;
    margin-top: 2rem;
    text-align: center;
}

section.home .books-list a img {
    height: 25rem;
}

section.home .books-list a:hover img {
    transform: scale(0.9);
}

section.home .books-list .stand {
    width: 100%;
    margin-top: -0.5rem;
}

/* Media Query */
@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

/* Sections */
section {
    padding: 5rem 9%;
}

@media(max-width:991px) {
    section {
        padding: 3rem 2rem;
    }
}

/* Icons Container */
section.icons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    background-color: var(--gray-bg);
    color: var(--light-gray);
}

section.icons-container .icon {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

section.icons-container .icon i {
    font-size: 5rem;
    color: var(--dark-aqua);
}

section.icons-container .icon h3 {
    font-size: 2.2rem;
    border-color: var(--light-gray);
}

section.icons-container .icon p {
    font-size: 1.2rem;
    color: white;
}

/* Featured */
section.featured {
    background-color: var(--black-bg);
}

section.featured h3 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
    color: white;
}

section.featured .featured-slider .box {
    width: 25rem;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

section.featured .featured-slider .box .author {
    padding-bottom: var(--border-hover);
    position: absolute;
    padding: 15px 0;
    top: 5px;
    left: 0;
    right: 0;
    background-color: var(--black-bg);
    z-index: 1;
    transform: translateY(-100%);
    border: var(--border);
    color: var(--light-gray);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: uppercase;
}

section.featured .featured-slider .box:hover .author {
    transform: translateY(0);
}

section.featured .featured-slider .box .author:hover {
    background-color: white;
    color: var(--dark-aqua);
}

section.featured .featured-slider .box .image {
    padding: 0.5rem;
    background: linear-gradient(15deg, var(--gray-bg) 30%, var(--black-bg) 30.1%);
}

section.featured .featured-slider .box .image img {
    height: 25rem;
}

section.featured .featured-slider .box:hover .image {
    transform: translateY(6rem);
    cursor: pointer;
}

section.featured .featured-slider .box .content {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-bg);
    padding: 1.5rem;
}

section.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: white;
    font-style: normal;
}

section.featured .featured-slider .box .content h4 {
    font-size: 1.5rem;
    color: var(--light-gray);
    font-style: normal;
    align-self: flex-end;
    font-weight: 400;
    font-style: italic;
}

section.featured .featured-slider .box .content .price {
    font-family: monospace;
    font-size: 2rem;
    color: var(--light-gray);
    padding-top: 1rem;
}

section.featured .featured-slider .box .content > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.featured .featured-slider .box .content > div > a {
    background-color: var(--dark-aqua);
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
}

section.featured .featured-slider .box .content > div > a:hover {
    background-color: var(--aqua);
}

section.featured .featured-slider .slider-button-next {
    position: absolute;
    top: 50%;
    right: 0;
}

/* New Arrivals */
section.arrivals {
    background-color: var(--gray-bg);
}

section.arrivals h3 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
    color: white;
}

section.arrivals .swiper-slide.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
    margin-top: 3rem;
    border: 0.1rem solid transparent;
}

section.arrivals .box:hover {
    border: 0.1rem solid var(--light-gray);
}

section.arrivals .arrivals-slider .box .image img {
    height: 15rem;
}

section.arrivals .arrivals-slider .box .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

section.arrivals .arrivals-slider .box .content h3 {
    font-size: 2rem;
    color: white;
}

section.arrivals .arrivals-slider .box .content p {
    font-size: 1.5rem;
    color: var(--light-gray);
}

section.arrivals .arrivals-slider .box .content .price {
    font-family: monospace;
    font-size: 2rem;
    font-weight: 300;
    color: var(--aqua);
}

section.arrivals .arrivals-slider .box .content h4 {
    font-size: 1.5rem;
    color: var(--light-gray);
}

footer {
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--black-bg);
    color: var(--light-gray);
    font-weight: 600;
}

footer .tugas {
    padding-left: 10px;
    border-left: 1px solid white;
}

footer i {
    color: var(--aqua);
}
